a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #999;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
  display: flex;
  height: 80px;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-image: url("../img/banner-gdc475eb52_1920.jpg");
  border-bottom: solid 1px #999;
}

header {
  display: flex;
  width: 100%;
  margin-top: 80px;
  justify-content: center;
}
header h1 {
  text-align: center;
  font-size: 4rem;
  padding: 15px 20px;
  color: white;
}
header p {
  text-align: center;
  font-size: 2.8rem;
  color: white;
  padding: 0 20px;
}
header .hero-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/banner-gdc475eb52_1920.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

.nav-container {
  position: relative;
  max-width: 1800px;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav-container .logo {
  font-size: 5rem;
  margin-right: auto;
  display: flex;
  align-items: center;
  margin-left: 25px;
  color: #999;
}
.nav-container .logo span {
  font-size: 2rem;
}

.nav-items {
  width: 100%;
  justify-content: end;
  display: none;
}
.nav-items a {
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0 25px;
  white-space: nowrap;
  color: #999;
  transition: 0.35s;
}
.nav-items a:hover {
  color: antiquewhite;
  box-shadow: inset 0px -2px 0px antiquewhite;
}

.nav-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  background: none;
  border: none;
  color: #999;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .nav-items {
    display: flex;
  }
}
@media (min-width: 768px) {
  .nav-btn {
    display: none;
  }
}
.grid-container {
  margin: 50px 8px;
  margin-top: 100px;
  max-width: 1800px;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 8px;
}
.grid-container .grid-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  border: solid 1px black;
  overflow: hidden;
}
.grid-container .grid-item img {
  transition: ease 0.5s;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.grid-item img:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media (min-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
  }
}
@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
  }
}
.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
}
.aboutme .card {
  height: 200px;
  width: 200px;
  border: solid 1px black;
}
.aboutme h2 {
  padding: 20px;
}
.aboutme p {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */